:root {
    --primary-color: rgb(16, 18, 27);
    --secondary-color: rgb(5, 7, 15);
    --tertiary-color: rgb(26, 27, 37);
    --primary-text-color: rgb(200, 218, 233);
    --secondary-text-color: rgb(61, 57, 82);
}
body {
    background-color: var(--primary-color);
    font-family: Helvetica;
}

#fieldsetDIV {
    display: flex;
}

#techusedID {
    border-radius: 7px;
    border-style: none;
    margin-left: 0.5rem;
    width: 20em;
    height: 35em;
    background-color: var(--tertiary-color);
}

#profiledescID {
    border-radius: 7px;
    border-style: none;
    width: 20em;
    height: 55em;
    background-color: var(--tertiary-color);

}

#profileimgID {
    width: 80%; 
}

#profileimgDIV {
    text-align: center;
}

#githublinkID {
    height: 100%;
    width: 3em;
}

#youtubelinkID {
    height: 100%;
    width: 3em;
}

#discordlinkID {
    height: 100%;
    width: 3em;
}


#socialsDIV {
    display: flex;
    justify-content: space-evenly;
    margin-top: 420px;
}

#techimgDIV {
    display: flex;
    justify-content: center;
}

#techtextID {
    margin: 0px;
    text-align: center;
    color: var(--primary-text-color);
}

#javascriptimgID {
    width: 30%;
}

#pythonimgID {
    width: 30%;
}

#welcometxtID { 
    text-align: center;
    margin: 0;
    font-style: italic;
    color: var(--primary-text-color);
}

#nameplateID {
    font-family: Helvetica; 
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-text-color);
}

#abtmeID {
    text-align: center;
    font-weight: bold;
    color: var(--secondary-text-color);
}